body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.doctor_form{
    max-width: 600px;
    box-shadow: 0px 5px 24px #867a7a;
    padding: 20px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 5px;
    background: url(./images/background.png) no-repeat center;
    background-size: cover;

}

.brandi{
  color: black;
  font-size: 35px;

}

.brandi:hover{
  color: aquamarine;
}

.linkii{
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1;
  color: #fff;
}


.error{
  color: red;
}

.carousel-inner{
  width:100%;
  max-height: 700px !important;
}

.tales{
  width: 100%;
  height: 700px;
}
.navi{
  background-color:dodgerblue;
  padding: 20px;
}


/* Search bar */

.s01 {
  min-height: 20vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
}

.s01 form{
  width: 100%;
  max-width: 1290px;
}

.s01 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}




.review_form{
  max-width: 600px;
  box-shadow: 0px 5px 24px #867a7a;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;

}

.show_card{
  max-width: 600px;
  box-shadow: 0px 5px 24px #867a7a;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}

.link_disabled:disabled{
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1;
  color: #fff;

}

.back{
  position: fixed;
  left: 0%;
  top: 50%;
  transform: rotate(90deg);
  padding: 10px;
  font-size: larger;
  color: white;
}

.error{
  color: red;
}

.appoinment{
  margin: 5px;
}

.title{
  text-align: center;
  margin-top: 40px;
}

#dayss{
  background-color: grey;
  padding-top: 7px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.padd{
  margin-top: 10px;
}




.review_form2{
  max-width: 600px;
  box-shadow: 0px 5px 24px green;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
  
}

.review_form1{
  max-width: 600px;
  box-shadow: 0px 5px 24px red;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
  
}